body {
	background-color: rgb(177, 126, 79);
	margin-top: 0;
	font-family: "Trebuchet MS", sans-serif;
}
header a:link, a:visited {
	text-decoration: none;
	color: white;
	font-size: 44px;
}
#wrapper {
	width: 960px;
margin: 0 auto;
/*border: 1px solid black;*/
}
/*.header p,a {
	border: 1px solid black;
}*/
.clearfix {
	clear: both;
}
/*.header {
	border: 1px solid black;
}*/
.header a.logo {
	float: left;
	padding: 60px 0 10px 30px;
	font-weight: 700;
}
.header p {
	float: right;
	padding: 60px 30px 0 0;
	color: #CEB6A4;
}
.main {
	background-color: white;
	padding: 0;
}
.content {
	padding: 15px;
}
nav {
	margin: 0;
}
nav ul {
	display: flex;
	list-style-type: none;
	font-size: 12px;
	padding: 0;
	margin-top: 0;
}
nav ul li {
	flex: 1;
	/*border: 1px solid red;*/
	text-align: center;
}
nav ul li a {
	padding: 20px;
	display: block;
	background-color: black;
	text-decoration: none;
}
nav ul li .active {
	background-color: #1B3039;
}
nav a:hover {
	background-color: #1B3039;
}
figure {
	margin: 0;
}
img {
	width: 100%;
}
.left h3 a {
	color: #9F6841;
	font-size: 2em;
	text-decoration: none;
}
.left {
	font-size: 13px;
	float: left;
	width: 570px;
	margin-left: 10px;
}
.postmeta a {
	color: green;
}
.postmeta {
	padding-bottom: 30px;
	line-height: 2;
}
.left p {
	padding-bottom: 30px;
	line-height: 2;
}
.right {
	float: right;
	width: 300px;
	margin-top: 30px;
}
.clearfix {
	clear: both;
}

.box {
	border: 1px solid #E8E6DE;
	padding: 10px;
	background-color: #EFEDE5;
	margin-bottom: 20px;
}

.box h3 {
	border: 1px solid grey;
	padding-left: 20px;
	line-height: 2em;
	background-color: #5d9ebd;
	color: white;
	margin-top: 0;
}
.box ul {
	list-style-type: none;
	font-size: 13px;
	padding-left: 20px;
}
.box li a {
	line-height: 2.5em;
	color: green;
	text-decoration: none;
}
.box li {
	border-bottom: 1px solid #E8E6DE;
}
.box p {
	font-size: 13px;
	padding-left: 20px;
	line-height: 25px;
}
.footer {
	background-color: #D1E4A7;
	padding: 20px;
	text-align: center;
	font-size: 13px;
}
.footer a {
	color: green;
}
